@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

:root {
	--main-color: #212121;
	--secondary-color: #3f3737;
	--tertiary-color: hsl(56, 17%, 65%);
	--font-color: #010101;
	--font-family: 'Carter One', cursive;
}

* {
	box-sizing: border-box;
}

html {
	color: var(--font-color);
	font-family: var(--font-family);
}

body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	background: var(--secondary-color);


}

header {
	width: auto;

	background: #C1BDB3;
	border-radius: 0 0 30px 30px;
	border: 5px solid var(--secondary-color);
	overflow: hidden;
	z-index: 2;
}
header p {
	font-size: 1.5em;
	margin: 0;
	text-align: center;
}
header h2 {
	font-size: 2.5em;
	margin: 0;
	text-align: center;
}
#containerHelper {
	background-repeat: no-repeat;
	background-size: 180% 200vh;
	background-position: top;
}

#backgroundOverlay {
	background: rgba(0, 0, 0, 0.2);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

#content {
	z-index: 2;
}

.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
}

.content-container::before {
	content: "Input your characters and weapons to get started!";
	position: absolute;
	z-index: 10;
	padding: 2rem 1rem;
	background: var(--tertiary-color);
	border: 0.5rem solid var(--main-color);
	border-radius: 1rem;
}

.content-container::after {
	content: "";
	position: absolute;
	z-index: 9;
	width: 110px;
	height: 110px;
	background-image: url("../Assets/Characters/Paimon/Icon_4.webp");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transform: translate(200%, -90%) rotate(15deg);
}

h1 {
	margin-top: 50px;
	text-align: center;
	font-size: 4em;



}

header h1 {

	text-align: center;

	margin: 0 !important;
}

footer {
	width: 100%;
	height: 100px;
	z-index: 2;
	background: var(--tertiary-color);
	border-radius: 2rem 2rem 0px 0px;
	padding: 1rem;
	/* border:0.5vh solid #3D3B3C; */

}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: auto;
	justify-content: space-between;
}

.HeaderItem {
	font-weight: bold;
	width: 10%;
	height: 100%;
	background: var(--main-color);
	text-align: center;
	font-size: 1.5vw;
	top: 50%;
	left: 50%;
	position: absolute;

}

#roleInputContainer {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: center;


}

.Character img,
.EmptyCharacter img,
.Weapon img {
	object-fit: cover;
	width: 100%;
}


.Character,
.EmptyCharacter,
.Weapons,
.Weapon {
	background: var(--main-color);
	width: 20%;
	cursor: pointer;
	overflow: hidden;
	box-shadow: 0px 4px 12px 0.5px;
	border-radius: 15%;
	border: 0.2rem solid var(--secondary-color);
	margin: 1%;

	user-select: none;
	transition: all 0.1s;


	font-weight: bold;
	text-align: center;

}

.Weapons {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: max-content;
}

.EmptyCharacter {
	margin: 0;
}


.Character span,
.EmptyCharacter p,
.Weapon p {

	font-size: 1.1em;
}

.Character:hover,
.Weapons:hover {
	transform: scale(1.05);
	box-shadow: 2px 8px 24px 2px #000000;
}

#CharacterSelection {
	display: flex;
	justify-content: center;
	align-content: center;
	justify-items: center;
	width: 100%;
	height: 20%;

	position: relative;
}



#LoadoutContainer {
	position: relative;
	padding: 0.5rem;
	flex-direction: column;
	align-items: center;
	width: 80%;
	min-width: 800px;
	height: auto;
	background: var(--secondary-color);
	border: 0.5rem solid var(--main-color);
	border-radius: 1rem;
	box-shadow: 0vh 0.5em 2em -1em;
	margin: 20%;
	margin-top: 1%;
	margin-bottom: 20rem;
	display: flex;
}

#LoadoutContainer h2 {
	width: 80%;
	text-align: center;
}

#characterContainer {
	width: 100%;
	height: 50%;
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

#characterContainerUpper {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	width: 100%;
}

#characterSelecting {
	cursor: pointer;
	position: relative;
	z-index: 1;
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 1200px;
}

#characterSelecting img {
	max-width: 100%;
	max-height: 100%;
	filter: drop-shadow(10px 60px 50px #575757);
	object-fit: contain;
}

.SelectBox {
	display: none;
	flex-direction: column;
	align-items: center;
	width: 75%;
	min-width: 600px;
	height: auto;
	max-height: 700px;
	cursor: auto;
	border-radius: 1rem;
	overflow-x: hidden;
	overflow-y: hidden;
	background: var(--secondary-color);
	border: 0.3rem solid var(--main-color);
	box-shadow: 0em 0.4em 4em -1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.characterIcons {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	overflow-y: scroll;
}

#noResults {
	display: none;
}

#artifactContainer {
	display: flex;
	/* background-color: red; */
	width: 100%;
	height: auto;
	position: relative;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	margin: 1rem;
}

#talentAndConstellationContainer {
	width: 20%;
	height: 100%;
}

.artifact {
	user-select: none;
	background-color: var(--tertiary-color);
	border-radius: 1rem;
	border: 0.5rem solid var(--main-color);
	box-shadow: 0rem 1rem 2rem -1rem;
	display: flex;
	flex-direction: row;
	position: relative;
	height: 200px;
	width: 450px;
	margin: 1rem;
}

.artifact::before {
	content: "Artifact";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0.25rem 1rem;
	border: 0.25rem solid var(--main-color);
	border-radius: 1rem;
	background-color: var(--tertiary-color);
	z-index: 2;
}

.artifactSetList::before {
	content: "Choose an artifact set";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0.25rem 0.6rem;
	border: 0.25rem solid var(--main-color);
	border-radius: 1rem;
	background-color: var(--tertiary-color);
	z-index: 9;
}

.artifactSetList {
	padding-top: 2rem;
}

.artifact-left {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	z-index: 2;
}

.artifact-right {
	width: 60%;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 2rem 0rem;
	z-index: 1;
}

.artifact span {
	min-width: 10px;
	font-size: 18pt;
	white-space: nowrap;
	margin: 0;
	position: relative;
}

.mainstat {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--tertiary-color);
	border-radius: 1rem;
	border: 0.25rem solid var(--main-color);
	cursor: auto;
	position: absolute;
	top: 100%;
	left: 0;
	transform: translate(0, -100%);
	z-index: 2;

}

.substat {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 50%;
}

.artifact img {
	cursor: pointer;
	position: relative;
}

.artifact img {
	width: 40px;
	height: 40px;
}
.artifact_icon{
	filter: drop-shadow(2px 2px 2px #000000);
}
.artifact_img_gradient {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

.artifactStatsList {
	background-color: var(--tertiary-color);
	border-radius: 1rem;
	border: 0.5rem solid var(--main-color);
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 1;
}

.artifactStatsList div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 1rem !important;
	padding: 1rem;
	cursor: pointer;
	position: relative;
	transition: background-color 0.75s;

}

.artifactStatsList div:hover {
	background-color: #3D3B3C;
	transition: background-color 0.5s;
}

.artifactStatsList div span {
	font-size: 1.5rem !important;
}

.artifactSetList {
	background-color: var(--tertiary-color);
	border-radius: 1rem;
	border: 0.5rem solid var(--main-color);
	position: absolute;
	top: 0;
	left: 0;
	min-width: 200px;
	max-width: 450px;
	width: 20vw;
	cursor: auto;
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	z-index: 3;
}

.artifactSet {
	width: 100px !important;
	height: 100px !important;
	transition: transform 0.5s ease-out, filter 0.2s ease-out;
}

.artifactSet:hover {
	transform: scale(1.3);
	filter: drop-shadow(0px 0px 8px #3a3a3a);
}

#flower {
	z-index: 5;
}

#plume {
	z-index: 4;
}

#sands {
	z-index: 3;
}

#goblet {
	z-index: 2;
}

#circlet {
	z-index: 1;
}

.Weapon {
	background: var(--tertiary-color);
	border-color: var(--main-color);
	grid-column: 1;
	grid-row: 2;
}

#flower_set {
	background-image: url("../Assets/Artifacts/None_Flower.webp");
}

#plume_set {
	background-image: url("../Assets/Artifacts/None_Plume.webp");
}

#sands_set {
	background-image: url("../Assets/Artifacts/None_Sands.webp");
}

#goblet_set {
	background-image: url("../Assets/Artifacts/None_Goblet.webp");
}

#circlet_set {
	background-image: url("../Assets/Artifacts/None_Circlet.webp");
}


.Weapons img {
	height: 185px;
	width: 185px;
	margin: 0;
}

.WeaponsText {
	border: #575757 2px solid;
	border-radius: 0 0 10px 10px;
	background-color: #C1BDB3;
	margin: 0;
	text-align: center;
}

#Weapons {
	position: absolute;
	height: 600px;
	width: 660px;
	visibility: hidden;
	border-radius: 1vw;
	overflow-y: scroll;
	background: var(--secondary-color);
	border: 0.3vw solid var(--main-color);
	box-shadow: 0em 0.4em 4em -1em;
	display: flex;
	flex-flow: column;

}

#Weapons h3 {
	text-align: center;
	background-color: var(--tertiary-color);
	border: var(--secondary-color) 2px solid;
	border-radius: 15px;

}

#WeaponsContainer {
	display: flex;
	flex-wrap: wrap;
}

.Weapon p {
	width: 100%;
	background: var(--secondary-color);
}

#WeaponLevel {
	display: grid;
	justify-items: center;
}

#WeaponLevel label {
	font-size: 14pt;
}

#weaponContainer {
	display: flex;
	flex-direction: column;
	justify-items: flex-end;
	align-items: center;
	border-radius: 1vw;
	aspect-ratio: 1/1;
	width: 30%;
	height: auto;

	padding: 1vw;
	position: relative;

}

.weapon_Stats {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
	background-color: var(--tertiary-color);
	border-radius: 1rem;
	border: 0.25rem solid var(--main-color);
	padding: 1rem;
}

#weapon_figure {
	border-radius: 1rem;

	background-size: cover;
	border: 0.2rem solid var(--main-color);
	cursor: pointer;
	width: 45%;
	margin: 0;
}

#weaponContainer img {
	filter: drop-shadow(0px 0px 10px #636363);
	object-fit: fill;
	width: 100%;
	height: 100%;
}

#TalentContainer {

	display: flex;
	flex-direction: column;
	align-items: center;

	height: auto;

}

#CharacterPageContainer {

	width: 60%;
	padding: 1%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 2%;


}

.Talent {
	display: grid;
	justify-items: Center;

}

.Talent select {
	width: 50%;

}

.GeoCharacter,
.PyroCharacter,
.HydroCharacter,
.ElectroCharacter,
.AnemoCharacter,
.CryoCharacter,
.DendroCharacter {
	margin-top: -0.40em;
}


#TalentContainer {
	padding: 1vw;
	background: var(--tertiary-color);
	border: 0.2vw solid var(--main-color);
	border-radius: 1vw;

}

#CharacterPageContainer {

	background: var(--tertiary-color);
	border: 0.2vw solid var(--main-color);
	border-radius: 1vw;

}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.GeoCharacter {
	background: linear-gradient(66deg, rgba(220, 160, 70, 1) 0%, rgba(255, 210, 120, 1) 50%, rgba(220, 160, 70, 1) 100%);
	z-index: 1;
}

.PyroCharacter {
	background: linear-gradient(66deg, rgba(254, 0, 0, 1) 0%, rgba(255, 60, 60, 1) 40%, rgba(255, 60, 60, 1) 60%, rgba(254, 0, 0, 1) 100%);
	z-index: 1;
}

.HydroCharacter {
	background: linear-gradient(66deg, rgba(0, 26, 254, 1) 0%, rgba(30, 90, 255, 1) 45%, rgba(30, 90, 255, 1) 55%, rgba(0, 26, 254, 1) 100%);
	z-index: 1;
}

.ElectroCharacter {
	background: linear-gradient(66deg, rgba(255, 0, 255, 1) 0%, rgba(255, 100, 255, 1) 40%, rgba(255, 100, 255, 1) 60%, rgba(255, 0, 255, 1) 100%);
	z-index: 1;
}

.AnemoCharacter {
	background: linear-gradient(66deg, rgba(0, 254, 153, 1) 0%, rgba(100, 255, 111, 1) 40%, rgba(100, 255, 111, 1) 60%, rgba(0, 254, 153, 1) 100%);
	z-index: 1;
}

.CryoCharacter {
	background: linear-gradient(66deg, rgba(0, 254, 230, 1) 0%, rgba(125, 255, 233, 1) 40%, rgba(125, 255, 233, 1) 60%, rgba(0, 254, 230, 1) 100%);
	z-index: 1;
}

.DendroCharacter {
	background: linear-gradient(66deg, rgba(0, 254, 0, 1) 0%, rgba(125, 255, 125, 1) 40%, rgba(125, 255, 125, 1) 60%, rgba(0, 254, 0, 1) 100%);
	z-index: 1;
}

select {
	cursor: pointer;
}

.noselect {

	user-select: none;
}

.supportingElementContainer {
	display: flex;
	justify-content: space-evenly;
}

.selectableSupportingElement {
	display: flex;
	flex-direction: column;
	background: var(--tertiary-color);
	text-align: center;
	border-radius: 1vw;
	border: 2px solid var(--main-color);
	margin: 1em;
	padding: 0.75em;
	box-shadow: 0em 0.4em 4em -1em;
	transition: transform 0.5s;
	cursor: pointer;
}

.supportingElementContainer div:hover {
	transform: scale(1.05);
}

#CurrentlySelected {
	display: flex;
	flex-direction: column;
	background: var(--tertiary-color);
	text-align: center;
	border-radius: 1vw;
	border: 2px solid var(--main-color);
	margin: 1em;
	padding: 0.75em;
	box-shadow: 0em 0.4em 4em -1em;

}

#CurrentlySelectedSupportingElement {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#RoleSelectionContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	background: var(--tertiary-color);
	text-align: center;
	border-radius: 1vw;
	border: 2px solid var(--main-color);
	margin: 1em;
	padding: 0.75em;
	box-shadow: 0em 0.4em 4em -1em;


}

#RoleSelectionContainer div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

#RoleSelectionContainer div span {
	width: 10%;
	margin: 0;
}

.elementalResonanceContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.elementalResonanceContainer div img {
	cursor: pointer;
}

.elementalResonance {

	background: var(--tertiary-color);
	border-radius: 1vw;
	border: 2px solid var(--main-color);

}

#result-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 99999;

}

#result-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

/*---------------Splash result--------------*/
/* #result-splash-container {
	border: #323031 solid 0.2rem;
	border-radius: 2rem;
	background: linear-gradient(90deg, #C1BDB3 50%, #f4c030);
	width: 1900px;
	height: 950px;
	align-self: center;


}

#result-splash-container h2 {
	border: none;
}

#result-splash-wrapper {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 100%;
	height: 100%;
	background-image: url("../Characters/Character_Albedo_Portrait.webp");
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
} */

.character-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.character-book {
	width: 66%;
	height: 100%;
	background-image: url("../Assets/Book_Background.png");
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	margin-bottom: 2rem;
}

.character-card-info {
	display: flex;
	flex-direction: column;
	/* border: #323031 solid 0.2rem;
	border-radius: 2rem;
	background-color: rgba(193,189,179,0.75); */
	width: 100%;
	max-width: 540px;
	margin: 2rem;
	font-size: 11pt;
}

.character-card-info-part {
	margin-left: 2rem;
	margin-top: 1.5rem;
	border: var(--main-color) solid 0.2rem;
	border-radius: 2rem;
	width: 100%;
	padding: 0.5rem;
}

.character-card-info-group {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 1rem;

}

.character-card-info-group h4,
span {

	margin: 1rem 0rem 0rem 0rem;

}

.character-card-img {
	height: 100%;
	max-height: 400px;
}

.character-card-artifact-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: var(--main-color) solid 0.2rem;
	border-radius: 2rem;
	padding: 1rem;
	margin: 0.1rem;
	padding-left: 0;
	padding-right: 0.4rem;
}

.character-card-artifact {
	width: 75px;
	display: flex;
	margin: 0.5rem;
}

.character-card-artifact img {
	width: 75px;

}

.character-card-artifact-mainstat {
	font-size: 14pt;
}


/* #character-card-artifact-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: -1rem;
}

#character-card-info-up-left {
	display: flex;
	align-items: center;
	width: 100%;
}

#character-card-info-up-left img {
	width: 100%;
}

#result-splash-top-info {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

}



#result-splash-name {
	margin: 0;
}

#result-splash-score {
	font-size: 32pt;
} */
.result-splash-top-info-part {
	width: 33.33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#result-container-centerer {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
}

#result-container {
	display: none;
	transition: all 0.5s ease-in-out;

}

#result-container-container2 {
	box-shadow: 0px 0px 128px 32px;
	border-radius: 2rem;
}

#result-container2 {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 50vh;
	margin-left: 50vw;
	transform: translate(-50%, 50%) scale(0.1);
	transition: all 0.5s ease-in-out;
	z-index: 99;
}

#result-container-container {
	box-shadow: 0px 0px 128px 32px;
	border-radius: 2rem;
}

.exit-btn {
	cursor: pointer;
	border-radius: 50% !important;
	position: absolute;
	right: 0;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
	font-size: 19pt;
	width: 40px;
	height: 40px;
	text-align: center;
	transition: all 0.2s ease-in-out;
}



.generic-btn {
	background-color: var(--tertiary-color);
	border: var(--main-color) solid 0.2rem;
	cursor: pointer;
	color: black;
	transition: all 0.2s ease-in-out;
}

.generic-btn:hover {
	background-color: var(--main-color);
	border-color: var(--tertiary-color);
	color: var(--font-color);
}

.p1rem {
	padding: 1rem;
}

.br2rem {
	border-radius: 2rem;
}

#saved-characters-cards-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: fixed;
	right: 0;
	bottom: 0;
	height: 350px;
	transform: translateY(88%);
	transition: all 1s ease-in-out;
	z-index: 3;
}

#saved-characters-cards-btn {
	background: var(--main-color);
	align-self: center;
	padding: 0.5rem;
	border: var(--main-color) solid 0.2rem;
	border-bottom: none;
	cursor: pointer;
	border-radius: 1rem 1rem 0 0;
	transition: background-color 0.2s ease-in-out;
	z-index: 2;
}

#saved-characters-cards-btn:hover {
	background: var(--tertiary-color);

}

#saved-characters-cards-wrapper {
	background: var(--tertiary-color);
	border: var(--main-color) solid 0.2rem;
	width: 100%;
	height: 100%;
	border-radius: 1rem 1rem 0 0;
	z-index: 1;
	box-shadow: 0px 0px 0px 0px;
	transition: box-shadow 1s ease-in;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	overflow-y: scroll;
}

.saved-character-card {
	height: 150px;
	width: 300px;
	position: absolute;
	transition: transform 0.2s ease-in-out;
	z-index: 9
}

.saved-character-card-container {
	width: 300px;
	height: 150px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.saved-character-card:hover {
	transform: scale(1.32);
	z-index: 10;
}

.transform-card {
	margin-top: -25rem;
	margin-left: -13rem;
	transform: scale(0.15);
	z-index: 1;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.delete-character-card {
	margin-top: 1.5rem;
	position: absolute;
}

.prompt-container {
	position: fixed;
	top: 0;
	left: 0;
	padding: 1rem;
	margin-top: calc(50vh - 100px);
	margin-left: calc(50vw - 280px);
	height: 100px;
	width: 500px;

}

#delete-character-card-prompt-container {
	z-index: 99;
}

.delete-character-card-prompt-wrapper {
	background: #C1BDB3;
	border: #5F5B6B solid 0.2rem;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	padding-top: 1rem;
	box-shadow: 0px 0px 16rem 3rem;
}

.delete-character-card-prompt {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.delete-character-card-prompt-btns {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 50%;
}

.delete-character-card-prompt-btns button {
	padding: 0.5rem 2rem;
	border-radius: 2rem;
}

#elementalResonanceContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#supportingElementContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

#constellationContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	width: 80%;
	height: 50%;
	position: relative;
}

.constellation {
	width: 80px;
	height: 80px;
	background-color: white;
	position: relative;
	display: flex;
	font-size: 18pt;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: filter 0.125s ease-out;
	cursor: pointer;
}

.constellation:hover {
	filter: drop-shadow(0px 0px 16px #d7f8fb);
}

.constellation-selected {
	filter: drop-shadow(0px 0px 60px #58eeff) !important;
	background-color: #58eeff !important;
	transform: scale(1.25) !important;
	transition: filter 1s ease-out, background-color 1s ease-out, transform 1s ease-out;
}

#simRunScreen {
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
}

.sim-running-box {
	width: 100%;
	min-width: 600px;
	height: 30%;
	background-color: var(--tertiary-color);
	border: var(--main-color) solid 0.2rem;
	border-radius: 1rem;
	display: flex;
	grid-column: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sim-progress-bar {
	width: 90%;
	height: 10px;
	background-color: var(--main-color);
	border-radius: 1rem;
}


#simProgressBar {
	width: 100%;
	height: 10px;
	background: linear-gradient(90deg, #ffd700 0%, #ff8308 25%, #f83c00 50%, #ff8308 75%, #ffd700 100%);
	border-radius: 1rem;
	background-size: 200% 100%;
	animation: gradientAnimation 1s infinite reverse;
	transition: background-position 0.5s;
}
@keyframes gradientAnimation {

	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}
#loadingPaimon-wrapper {
	display: block;
	width: 90%;
	height: 30%;
}

#loadingPaimon-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	justify-self: flex-start;
	position: relative;

}

#loadingPaimon {
	object-fit: cover;
	margin: 0;
	position: absolute;
	left: 0;
	top:0;
	transform: translate(-50%, 0%);
}

#loadingPaimon img {
	width: 100px;
	height: 100px;
	animation: paimonLoading 2s infinite linear;
	transition: transform 0.5s ease-out;
}


#rate-button {
	background-image: url("../Assets/Characters/Paimon/Icon_2.webp");
	background-size: contain;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	cursor: pointer;
	transition: transform 0.2s ease-out, filter 0.2s ease-out;
}

#rate-button:hover {
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 16px #d7f8fb);
}

.text-input {
	width: 85%;
	height: 100%;
	background-color: var(--tertiary-color);
	border: var(--main-color) solid 0.2rem;
	border-radius: 1rem;
	padding: 1.5rem;
	font-size: 1.5rem;
}

.text-input::placeholder {
	color: var(--main-color);
}

.text-input:focus {
	outline: none;
	border: #ffd700 solid 0.2rem;
}

.stat-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 60%;
	min-height: 150px;
	background-color: var(--tertiary-color);
	border: var(--main-color) solid 0.2rem;
	border-radius: 1rem;
	padding-top: 1rem;
	max-width: 650px;
}

.stat-container::before {
	content: "Character levels";
	position: absolute;
	z-index: 10;
	padding: 0.5rem 2rem;
	background: var(--tertiary-color);
	border: 0.2rem solid var(--main-color);
	border-radius: 1rem;
	transform: translate(0%, -190%);
}

.select {
	height: 35px;
	width: 100%;
	border: var(--main-color) solid 0.1rem;
	border-radius: 1rem;
	background-color: var(--tertiary-color);
	cursor: pointer;
	font-size: 1rem;
}

.stat-container select:hover {
	border: #ffd700 solid 0.2rem;
}

.stat-container select:focus {
	border: #ffd700 solid 0.2rem;
}

.stat-container option {
	background-color: var(--tertiary-color);
}

#character_level_container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

#character_level_container div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#talent_level {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}

#talent_level div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#simulationRuns {
	width: 40%;
	background-color: var(--tertiary-color);
	border: var(--main-color) solid 0.2rem;
	border-radius: 1rem;
	font-size: 1.5rem;
	padding: 0.5rem;
}
#partySelection{
	display: flex;
	flex-direction: row;
}
#endEarlyBtn {
	width: 20%;
	height: 20%;
	background-color: var(--tertiary-color);
	border: var(--main-color) solid 0.2rem;
	border-radius: 1rem;
	padding: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	cursor: pointer;
}

#endEarlyBtn:hover {
	background-color: #646464;
}

#simulation_settings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	background-color: var(--tertiary-color);
	border: var(--main-color) solid 0.2rem;
	border-radius: 1rem;
	padding: 1.5rem;
}
#simulation_settings h3{
	text-align: center;
}
#simulation_settings div {
	margin: 1rem;
}

#simulation_settings div select {
	font-size: 1.25rem;
}



/* DETAIL.HTML */
#error-screen {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
}

#error-screen section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--tertiary-color);
	border: var(--main-color) solid 0.2rem;
	border-radius: 1rem;
	padding: 2rem;
}

.details-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 10rem;
}

#details-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	max-width: 2000px;

}

#details-container h2 {
	text-align: center;
	width: 100%;
	background-color: var(--tertiary-color);
	border: var(--main-color) solid 0.25rem;
	border-radius: 1rem;
}

.graph {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 600px;
}
#damageGraph_container{
	flex-direction: column;
}
.circleGraphs {
	width: 49.9%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: var(--tertiary-color);
	border: var(--main-color) solid 0.25rem;
	border-radius: 1rem;
}

.circleGraphs div {
	width: 100%;
	min-height: 600px;

}

#damageGraph_container {
	width: 100%;
	min-height: 600px;
	background-color: var(--tertiary-color);
	border: var(--main-color) solid 0.25rem;
	border-radius: 1rem;
	padding: 1rem;
}

#character {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#character img {
	max-height: 400px;
	object-fit: contain;
}
#table_container{
	border: var(--main-color) solid 0.25rem;
	border-radius: 2rem;
	overflow: hidden;
}
.compareTable {
	width: 100%;
	background-color: var(--tertiary-color);
	border-collapse: collapse;
	/* border: var(--main-color) solid 0.25rem; */
	

}

.compareTable td,
.compareTable th {
	padding: 0.5rem;
}

.compareTable tr {
	border-bottom: var(--main-color) solid 0.25rem;

}
.compareTable tr:last-child {
	border-bottom: none;

}
.compareTable tr td:first-child {
	padding: 0rem 4rem;
}
#artifacts{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.compareArtifacts{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.compareArtifacts h3{
	width: 100%;
	text-align: center;
	background-color: var(--tertiary-color);
	border: var(--main-color) solid 0.25rem;
	border-radius: 1rem;
}
#result_info{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--tertiary-color);
	border: var(--main-color) solid 0.25rem;
	border-radius: 1rem;
	padding: 1rem;

}
#details-container a{
	background-color: var(--tertiary-color);
	border: var(--main-color) solid 0.25rem;
	border-radius: 1rem;
	padding: 1rem;
}

@keyframes paimonLoading {

	0% {
		transform: translate(0, 0) scale(1) rotate(0deg);
	}

	25% {
		transform: translate(0, 5%) scale(1.05) rotate(9deg);
	}

	50% {
		transform: translate(0, 10%) scale(1) rotate(0deg);
	}

	75% {
		transform: translate(0, 5%) scale(1.05) rotate(-9deg);
	}

	100% {
		transform: translate(0, 0) scale(1) rotate(0deg);
	}

}