@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');


html {
	
	font-family: 'Carter One', cursive;
}

body {
	padding: 0;
	margin: 0;
	height: 100vh;
	background: #3D383C;
	

}

header {
	width: auto;
	height: 120px;

	background: #C1BDB3;
	border-radius: 0 0 30px 30px;
	border: 5px solid #3D3B3C;
	overflow: hidden;
	z-index: 2;
}
#containerHelper{
	background-repeat: no-repeat;
	background-size: 180% 200vh;
	background-position: top;
}
#backgroundOverlay{
	background: rgba(0,0,0,0.2);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index:1;
}
#content{
	z-index: 2;
}
.content-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	margin-top: 50px;
	text-align: center;
	font-size: 4em;



}

header h1 {
	
	text-align: center;

	margin:0 !important;
}

footer {
	width: 100%;
	height: 100px;
	z-index: 2;
	background: #C1BDB3;
	border-radius: 2rem 2rem 0px 0px;
	/* border:0.5vh solid #3D3B3C; */

}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: auto;
	justify-content: space-between;
}

.HeaderItem {
	font-weight: bold;
	width: 10%;
	height: 100%;
	background: #5F5B6B;
	text-align: center;
	font-size: 1.5vw;

	top: 50;
	left: 50;
	position: absolute;

}


.Character img,
.EmptyCharacter img,
.Weapon img {


	object-fit: fill;
}


.Character,
.EmptyCharacter,
.Weapon {
	background: #5F5B6B;
	width: auto;
	min-width: fit-content;
	height: fit-content;
	cursor: pointer;
	overflow: hidden;
	box-shadow: 0px 4px 12px 0.5px;
	border-radius: 15%;
	border: 0.2rem solid #3D383C;
	margin: 1%;

	user-select: none;
	transition: all 0.1s;


	font-weight: bold;
	text-align: center;

}

.EmptyCharacter {
	margin:0;
}


.Character span,
.EmptyCharacter p,
.Weapon p {

	font-size: 1em;
}

.Character:hover {
	transform: scale(1.05);
	box-shadow: 2px 8px 24px 2px;
}

#CharacterSelection {
	display: flex;
	justify-content: center;
	align-content: center;
	justify-items: center;
	width: 100%;
	height: 20%;

	position: relative;
}



#LoadoutContainer {
	position: relative;
	padding: 0.5rem;
	flex-direction: column;
	align-items: center;
	width: 60%;
	min-width: 800px;
	height: auto;
	background: #3D383C;
	border: 0.5rem solid #5F5B6B;
	border-radius: 1rem;
	box-shadow: 0vh 0.5em 2em -1em;
	margin: 20%;
	margin-top: 1%;
	margin-bottom: 20rem;
	display: flex;
}
#LoadoutContainer h2{
	width:80%;
	text-align: center;
}
#characterContainer{
width: 100%;
height: 50%;
margin-top: 5rem;
display: flex;
flex-direction: column;
position: relative;
}
#characterContainerUpper{
	display: flex;
	flex-direction: row;
	position: relative;
}
#characterSelecting{
	cursor: pointer;
	position: relative;
	z-index: 0;
	border: #C1BDB3 solid 0.5rem;
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height:1200px;
}
#characterSelecting img{
	max-width:100%
}
.CharacterBox {
	display: none;
	flex-direction: column;
	align-items: center;
	width: 60%;
	height: auto;
	max-height: 500px;
	cursor: auto;
	border-radius: 1rem;
	overflow-x: hidden;
	overflow-y: hidden;
	background: #323031;
	border: 0.3rem solid #5F5B6B;
	box-shadow: 0em 0.4em 4em -1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10;
}
#characterIcons{
	width:100%;
	height:100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	overflow-y: scroll;
}
#noResults{
	display: none;
}
#artifactContainer{
	display: flex;
	/* background-color: red; */
	width:100%;
	height: auto;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


.artifact{
	user-select: none;
	background-color: #C1BDB3;
	border-radius: 1rem;
	border: 0.5rem solid #5F5B6B;
	box-shadow: 0rem 1rem 2rem -1rem;
	display: flex;
	flex-direction: row;
	position: relative;
	height: 200px;
	width: 500px;
	margin:2rem;
}
.artifact-left{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 20;
}
.artifact-right{
	width: 60%;
	display: flex;
	flex-direction:row-reverse;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: #616161c8;
	z-index: 10;
}
.artifact span{
	min-width:10px;
	font-size: 1.75rem;
	white-space: nowrap;
	margin:0;
	position: relative;
}
.mainstat{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #C1BDB3;
	border-radius: 1rem;
	border: 0.25rem solid #5F5B6B;
	cursor: auto;
	position: absolute;
	top: 100%;
	left: 0;
	transform: translate(0, -100%);

}
.substat{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 50%;
}
.artifact img{
	cursor: pointer;
	position: relative;
}
.artifact img{
	width: 40px;
	height: 40px;
}
.artifact_img_gradient{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	width:100%;
	height:100%;
	position: relative;
	background: linear-gradient(to right, #5f5b6b00, #616161c8);
}

.artifactStatsList{
	background-color: #C1BDB3;
	border-radius: 1rem;
	border: 0.5rem solid #5F5B6B;
	position: absolute;
	top: 0;
	left: 0;
	width: fit-content;
	overflow: hidden;
	z-index: 2;
}
.artifactStatsList div{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width:100%;
	height:100%;
	font-size: 1rem !important;
	padding: 1rem;
	cursor: pointer;
	position: relative;
	transition: background-color 0.75s;
	
}
.artifactStatsList div:hover{
	background-color: #3D3B3C;
	transition: background-color 0.5s;
}
.artifactStatsList div span{
	font-size: 1.5rem !important;
}
.artifactSetList{
	background-color: #C1BDB3;
	border-radius: 1rem;
	border: 0.5rem solid #5F5B6B;
	position: absolute;
	top: 0;
	left: 0;
	width: fit-content;
	overflow: hidden;
	cursor: auto;
	display: none;
}
.artifactSet{
	width: 80px !important;
	height: 80px !important;
}
#flower{
	z-index:99;
}
#plume{
	z-index:97;
}
#sands{
	z-index:95;
}
#goblet{
	z-index:93;
}
#circlet{
	z-index:91;
}
.Weapon {
	background: #C1BDB3;
	width: fit-content;
	border-color: #5F5B6B;
	grid-column: 1;
	grid-row: 2;
}

.Weapons {
	background: #C1BDB3;
	width: fit-content;
	height: fit-content;
	border: #323031 2px solid;
	border-radius: 15px;
	margin: 0.75em;
}

.Weapons img {
	height: 185px;
	width: 185px;
	margin: 0;
}

.WeaponsText {
	border: #323031 2px solid;
	border-radius: 0 0 10px 10px;
	background-color: #5F5B6B;
	margin: 0;
	margin-top: -0.4em;
	text-align: center;
}

#Weapons {
	position: absolute;
	height: 600px;
	width: 660px;
	visibility: hidden;
	border-radius: 1vw;
	overflow-y: scroll;
	background: #323031;
	border: 0.3vw solid #5F5B6B;
	box-shadow: 0em 0.4em 4em -1em;
	display: flex;
	flex-flow: column;
	scrollbar-width: 10px;

}

#Weapons h3 {
	text-align: center;
	background-color: #C1BDB3;
	border: #323031 2px solid;
	border-radius: 15px;

}

#WeaponsContainer {
	display: flex;
	flex-wrap: wrap;
}

.Weapon p {
	width: 100%;
	background: #3D383C;
}

#WeaponLevel {
	display: grid;
	justify-items: center;
}

#WeaponLevel label {
	font-size: 14pt;
}

#WeaponContainer {
	display: grid;
	justify-items: center;
	background: #C1BDB3;
	border: 0.2vw solid #5F5B6B;
	border-radius: 1vw;
	height: auto;
	grid-row: 2;
	grid-column: 1;
	width: auto;
	padding: 1vw;

}

#WeaponContainer h2 {
	background: #C1BDB3;
	text-align: center;
	border-radius: 1vw;
	border: 2px solid #5F5B6B;
	width: fit-content;
	padding: 0 15% 0 15%;
	font-size: 1.5em;
	grid-column: 1;
	grid-row: 1;
}





#WeaponContainer input {
	height: 1vw;
	margin-left: 0.25vw;
	vertical-align: middle;
}

#SelectWeapon {

	height: 225px;
	width: 200px;
	background: linear-gradient(180deg, #C1BDB3 0%, #C1BDB3 90%, #5F5B6B 91%);
}

#SelectWeaponText {
	margin: 0;
	margin-top: -5px;
	border-top: 2px solid #3D3B3C;
	background-color: #5F5B6B;
	font-size: 12pt;
	word-wrap: break-word
}

#SelectWeaponImg {
	height: 200px;
	width: 200px;
}



#TalentContainer {

	display: flex;
	flex-direction: column;
	align-items: center;

	height: auto;

}

#LevelContainer {

	padding-bottom: 2%;
}

#CharacterPageContainer {

	width: 60%;
	height: fit-content;
	padding: 1%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 2%;


}

.Talent {
	display: grid;
	justify-items: Center;

}

.Talent select {
	width: 50%;

}

.GeoCharacter,
.PyroCharacter,
.HydroCharacter,
.ElectroCharacter,
.AnemoCharacter,
.CryoCharacter {
	margin-top: -0.40em;
}


#TalentContainer {
	padding: 1vw;
	background: #C1BDB3;
	border: 0.2vw solid #5F5B6B;
	border-radius: 1vw;

}

#CharacterPageContainer {

	background: #C1BDB3;
	border: 0.2vw solid #5F5B6B;
	border-radius: 1vw;

}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.GeoCharacter {
	background: linear-gradient(66deg, rgba(220, 160, 70, 1) 0%, rgba(255, 210, 120, 1) 50%, rgba(220, 160, 70, 1) 100%);

}

.PyroCharacter {
	background: linear-gradient(66deg, rgba(254, 0, 0, 1) 0%, rgba(255, 60, 60, 1) 40%, rgba(255, 60, 60, 1) 60%, rgba(254, 0, 0, 1) 100%);

}

.HydroCharacter {
	background: linear-gradient(66deg, rgba(0, 26, 254, 1) 0%, rgba(30, 90, 255, 1) 45%, rgba(30, 90, 255, 1) 55%, rgba(0, 26, 254, 1) 100%);

}

.ElectroCharacter {
	background: linear-gradient(66deg, rgba(255, 0, 255, 1) 0%, rgba(255, 100, 255, 1) 40%, rgba(255, 100, 255, 1) 60%, rgba(255, 0, 255, 1) 100%);

}

.AnemoCharacter {
	background: linear-gradient(66deg, rgba(0, 254, 153, 1) 0%, rgba(100, 255, 111, 1) 40%, rgba(100, 255, 111, 1) 60%, rgba(0, 254, 153, 1) 100%);

}

.CryoCharacter {
	background: linear-gradient(66deg, rgba(0, 254, 230, 1) 0%, rgba(125, 255, 233, 1) 40%, rgba(125, 255, 233, 1) 60%, rgba(0, 254, 230, 1) 100%);


}

select {
	cursor: pointer;
}

.noselect {

	user-select: none;
}

.supportingElementContainer {
	display: flex;
	justify-content: space-evenly;
}

.supportingElementContainer div {
	display: flex;
	flex-direction: column;
	width: fit-content;
	background: #C1BDB3;
	text-align: center;
	border-radius: 1vw;
	border: 2px solid #5F5B6B;
	margin: 1em;
	padding: 0.75em;
	box-shadow: 0em 0.4em 4em -1em;
	transition: transform 0.5s;
	cursor: pointer;
}

.supportingElementContainer div:hover {
	transform: scale(1.05);
}

#CurrentlySelected {
	display: flex;
	flex-direction: column;
	width: fit-content;
	background: #C1BDB3;
	text-align: center;
	border-radius: 1vw;
	border: 2px solid #5F5B6B;
	margin: 1em;
	padding: 0.75em;
	box-shadow: 0em 0.4em 4em -1em;

}

#CurrentlySelectedSupportingElement {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#RoleSelectionContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	background: #C1BDB3;
	text-align: center;
	border-radius: 1vw;
	border: 2px solid #5F5B6B;
	margin: 1em;
	padding: 0.75em;
	box-shadow: 0em 0.4em 4em -1em;

	
}

#RoleSelectionContainer div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width:100%;
}
#RoleSelectionContainer div span{
	width:10%;
	margin:0;
}
.elementalResonanceContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.elementalResonanceContainer div img {
	cursor: pointer;
}

.elementalResonance {

	background: #C1BDB3;
	border-radius: 1vw;
	border: 2px solid #5F5B6B;

}

#result-container {
	display: flex;
	flex-direction: column;
	align-items: center;

}

#result-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

/*---------------Splash result--------------*/
/* #result-splash-container {
	border: #323031 solid 0.2rem;
	border-radius: 2rem;
	background: linear-gradient(90deg, #C1BDB3 50%, #f4c030);
	width: 1900px;
	height: 950px;
	align-self: center;


}

#result-splash-container h2 {
	border: none;
}

#result-splash-wrapper {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 100%;
	height: 100%;
	background-image: url("../Characters/Character_Albedo_Portrait.webp");
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
} */

.character-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.character-book {
	width: 66%;
	height: 100%;
	background-image: url("../Assets/Book_Background.png");
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	margin-bottom: 2rem;
}

.character-card-info {
	display: flex;
	flex-direction: column;
	/* border: #323031 solid 0.2rem;
	border-radius: 2rem;
	background-color: rgba(193,189,179,0.75); */
	width: 100%;
	max-width: 540px;
	margin: 2rem;
	font-size: 11pt;
}

.character-card-info-part {
	margin-left: 2rem;
	margin-top: 1.5rem;
	border: #5F5B6B solid 0.2rem;
	border-radius: 2rem;
	width: 100%;
	padding: 0.5rem;
}

.character-card-info-group {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 1rem;

}

.character-card-info-group h4,
span {

	margin: 1rem 0rem 0rem 0rem;

}

.character-card-img {
	height: 100%;
	max-height: 400px;
}

.character-card-artifact-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: #5F5B6B solid 0.2rem;
	border-radius: 2rem;
	padding: 1rem;
	margin: 0.1rem;
	padding-left: 0;
	padding-right: 0.4rem;
}

.character-card-artifact {
	width: 75px;
	display: flex;
	margin: 0.5rem;
}

.character-card-artifact img {
	width: 75px;

}

.character-card-artifact-mainstat {
	font-size: 14pt;
}


/* #character-card-artifact-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: -1rem;
}

#character-card-info-up-left {
	display: flex;
	align-items: center;
	width: 100%;
}

#character-card-info-up-left img {
	width: 100%;
}

#result-splash-top-info {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

}



#result-splash-name {
	margin: 0;
}

#result-splash-score {
	font-size: 32pt;
} */
.result-splash-top-info-part {
	width: 33.33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#result-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 50vh;
	margin-left: 50vw;
	transform: translate(-50%, -50%);
	transition: all 0.5s ease-in-out;

}

#result-container-container2 {
	box-shadow: 0px 0px 128px 32px;
	border-radius: 2rem;
}
#result-container2 {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 50vh;
	margin-left: 50vw;
	transform: translate(-50%,50%) scale(0.1);
	transition: all 0.5s ease-in-out;
	z-index: 99;
}

#result-container-container {
	box-shadow: 0px 0px 128px 32px;
	border-radius: 2rem;
}
.exit-btn {
	cursor: pointer;
	border-radius: 50% !important;
	position: absolute;
	right: 0;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
	font-size: 19pt;
	width: 40px;
	height: 40px;
	text-align: center;
	transition: all 0.2s ease-in-out;
}



.generic-btn {
	background-color: #C1BDB3;
	border: #5F5B6B solid 0.2rem;
	cursor: pointer;
	color: black;
	transition: all 0.2s ease-in-out;
}

.generic-btn:hover {
	background-color: #5F5B6B;
	border-color: #C1BDB3;
	color: #C1BDB3;
}

.p1rem {
	padding: 1rem;
}

.br2rem {
	border-radius: 2rem;
}

#saved-characters-cards-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: fixed;
	right: 0;
	bottom: 0;
	height: 350px;
	transform: translateY(88%);
	transition: all 1s ease-in-out;
	z-index: 3;
}

#saved-characters-cards-btn {
	background: #5F5B6B;
	width: fit-content;
	align-self: center;
	padding: 0.5rem;
	border: #5F5B6B solid 0.2rem;
	border-bottom: none;
	cursor: pointer;
	border-radius: 1rem 1rem 0 0;
	transition: background-color 0.2s ease-in-out;
	z-index: 2;
}

#saved-characters-cards-btn:hover {
	background: #C1BDB3;

}

#saved-characters-cards-wrapper {
	background: #C1BDB3;
	border: #5F5B6B solid 0.2rem;
	width: 100%;
	height: 100%;
	border-radius: 1rem 1rem 0 0;
	z-index: 1;
	box-shadow: 0px 0px 0px 0px;
	transition: box-shadow 1s ease-in ;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	overflow-y: scroll;
}
.saved-character-card{
	height: 150px;
	width: 300px;
	position: absolute;
	transition: transform 0.2s ease-in-out;
	z-index:9
}
.saved-character-card-container{
	width:300px;
	height:150px;
	display:flex;
    align-items: flex-end;
    justify-content: center;
}
.saved-character-card:hover{
	transform: scale(1.32);
	z-index: 10;
}
.transform-card{
	margin-top:-25rem;
	margin-left:-13rem;
	transform: scale(0.15);
	z-index: 1;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.delete-character-card{
	margin-top:1.5rem;
	position:absolute;
}
.prompt-container{
	position: fixed;
	top: 0;
	left: 0;
	padding: 1rem;
	margin-top: calc(50vh - 100px);
	margin-left: calc(50vw - 280px);
	height: 100px;
	width: 500px;
	
}
#delete-character-card-prompt-container{
	z-index:99;
}
.delete-character-card-prompt-wrapper{
	background: #C1BDB3;
	border: #5F5B6B solid 0.2rem;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	padding-top: 1rem;
	box-shadow: 0px 0px 16rem 3rem;
}
.delete-character-card-prompt{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.delete-character-card-prompt-btns{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 50%;
}
.delete-character-card-prompt-btns button{
padding: 0.5rem 2rem;
border-radius: 2rem;
}
#elementalResonanceContainer{
	display:flex;
	flex-direction:column;
	align-items:center;
}
#supportingElementContainer{
	display:flex;
	flex-direction:column;
	align-items:center;
}
